nav{
    display: flex;
    background-color:rgba(255, 255, 255, 0.815);
    align-items: center;
    border-bottom: 0.8px solid #7070704f;
    /* box-shadow:  */
    padding: 10px;
    position:sticky;

}
nav a{
    text-decoration: none;
    color:#655651;
}
.left{
    width: 55%;
    margin-left: 10%;
}

.left a{
    font-size:24px;
    font-family: 'Libre Caslon Display', serif;
}
.right a{
    font-size:21px;
    font-family: 'Libre Caslon Display', serif;
    padding:30px;
}

.container{
    background-color:rgba(214, 206, 206, 0.171);
    width: 80%;
    margin:10% 10% 0% 10%;

}
.intro{
    display:flex;

}
img{
    width: 30%;
    padding-left: 5%;
    position: relative;
    top:-45px;
}
.text{
    width: 60%;
    /* justify-items: right; */
    color:rgb(136, 52, 3);
    font-size: 20px;
    font-family: 'Libre Caslon Display', serif;
    /* font-style: italic; */
    position: relative;
    left: 2%;
    top:10px;

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* border-top:0.5px solid #92929233; */
}
.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    color:#665f5ccc;

  }
  .fa-linkedin{
    color:#665f5ccc;

  }  
  .fa-pinterest {
    color:#665f5ccc;

}